state_machine/S3ObjectCreatedComprehend.json
{
    "StartAt": "ProcessSQSEvent",
    "States": {
        "ProcessSQSEvent": {
            "Type": "Map",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "ParseSQSEventBody",
                "States": {
                    "ParseSQSEventBody": {
                        "Type": "Pass",
                        "Parameters": {
                            "body.$": "States.StringToJson($.body)"
                        },
                        "Next": "CheckSQSBodyRecords"
                    },
                    "CheckSQSBodyRecords": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.body.Records",
                                "IsPresent": true,
                                "Next": "ProcessSQSBodyRecordsAndPass"
                            }
                        ],
                        "Default": "InvalidSQSBody"
                    },
                    "InvalidSQSBody": {
                        "Type": "Pass",
                        "End": true
                    },
                    "ProcessSQSBodyRecordsAndPass": {
                        "Type": "Parallel",
                        "End": true,
                        "Branches": [
                            {
                                "StartAt": "ProcessSQSBodyRecords",
                                "States": {
                                    "ProcessSQSBodyRecords": {
                                        "Type": "Map",
                                        "ItemProcessor": {
                                            "ProcessorConfig": {
                                                "Mode": "INLINE"
                                            },
                                            "StartAt": "CheckSQSRecordEvent",
                                            "States": {
                                                "CheckSQSRecordEvent": {
                                                    "Type": "Choice",
                                                    "Choices": [
                                                        {
                                                            "Variable": "$.eventName",
                                                            "StringEquals": "ObjectCreated:Put",
                                                            "Next": "ParallelS3GetObjectAndPass"
                                                        }
                                                    ],
                                                    "Default": "InvalidSQSRecordEvent"
                                                },
                                                "InvalidSQSRecordEvent": {
                                                    "Type": "Pass",
                                                    "End": true
                                                },
                                                "ParallelS3GetObjectAndPass": {
                                                    "Type": "Parallel",
                                                    "Branches": [
                                                        {
                                                            "StartAt": "PassThroughInput",
                                                            "States": {
                                                                "PassThroughInput": {
                                                                    "Type": "Pass",
                                                                    "End": true
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "StartAt": "S3GetObject",
                                                            "States": {
                                                                "S3GetObject": {
                                                                    "Type": "Task",
                                                                    "End": true,
                                                                    "Parameters": {
                                                                        "Bucket.$": "$.s3.bucket.name",
                                                                        "Key.$": "$.s3.object.key"
                                                                    },
                                                                    "Resource": "arn:aws:states:::aws-sdk:s3:getObject"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "ResultSelector": {
                                                        "awsRegion.$": "$[0].awsRegion",
                                                        "eventName.$": "$[0].eventName",
                                                        "eventSource.$": "$[0].eventSource",
                                                        "eventTime.$": "$[0].eventTime",
                                                        "eventVersion.$": "$[0].eventVersion",
                                                        "requestParameters.$": "$[0].requestParameters",
                                                        "s3": {
                                                            "bucket.$": "$[0].s3.bucket",
                                                            "configurationId.$": "$[0].s3.configurationId",
                                                            "object": {
                                                                "body.$": "States.StringToJson($[1].Body)",
                                                                "acceptRanges.$": "$[1].AcceptRanges",
                                                                "contentLength.$": "$[1].ContentLength",
                                                                "contentType.$": "$[1].ContentType",
                                                                "eTag.$": "$[0].s3.object.eTag",
                                                                "key.$": "$[0].s3.object.key",
                                                                "lastModified.$": "$[1].LastModified",
                                                                "metadata.$": "$[1].Metadata",
                                                                "serverSideEncryption.$": "$[1].ServerSideEncryption"
                                                            },
                                                            "s3SchemaVersion.$": "$[0].s3.s3SchemaVersion"
                                                        },
                                                        "userIdentity.$": "$[0].userIdentity"
                                                    },
                                                    "Next": "ProcessComprehendRecords"
                                                },
                                                "ProcessComprehendRecords": {
                                                    "Type": "Map",
                                                    "ItemProcessor": {
                                                        "ProcessorConfig": {
                                                            "Mode": "INLINE"
                                                        },
                                                        "StartAt": "ParallelProcessComprehendRecord",
                                                        "States": {
                                                            "ParallelProcessComprehendRecord": {
                                                                "Type": "Parallel",
                                                                "End": true,
                                                                "Branches": [
                                                                    {
                                                                        "StartAt": "ProcessComprehendEntities",
                                                                        "States": {
                                                                            "ProcessComprehendEntities": {
                                                                                "Type": "Map",
                                                                                "ItemProcessor": {
                                                                                    "ProcessorConfig": {
                                                                                        "Mode": "INLINE"
                                                                                    },
                                                                                    "StartAt": "PutObjectComprehendEntity",
                                                                                    "States": {
                                                                                        "PutObjectComprehendEntity": {
                                                                                            "Type": "Task",
                                                                                            "Parameters": {
                                                                                                "Body.$": "$.entity",
                                                                                                "Bucket.$": "$.s3.bucket.name",
                                                                                                "Key.$": "States.Format('${aws_s3_object_key}comprehend/model=entity/language_code={}/type={}/comprehend={}/{}.json', $.entity.languageCode, $.entity.type, $.entity.comprehendId, $.entity.id)"
                                                                                            },
                                                                                            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
                                                                                            "End": true
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "End": true,
                                                                                "ItemSelector": {
                                                                                    "entity": {
                                                                                        "beginOffset.$": "$$.Map.Item.Value.beginOffset",
                                                                                        "comprehendId.$": "$.comprehend.id",
                                                                                        "createdAt.$": "$.createdAt",
                                                                                        "endOffset.$": "$$.Map.Item.Value.endOffset",
                                                                                        "id.$": "States.Hash($$.Map.Item.Value, 'MD5')",
                                                                                        "index.$": "$$.Map.Item.Value.index",
                                                                                        "languageCode.$": "$.comprehend.languageCode",
                                                                                        "languageCodeScore.$": "$.comprehend.languageCodeScore",
                                                                                        "score.$": "$$.Map.Item.Value.score",
                                                                                        "text.$": "$$.Map.Item.Value.text",
                                                                                        "type.$": "$$.Map.Item.Value.type"
                                                                                    },
                                                                                    "s3.$": "$.s3"
                                                                                },
                                                                                "ItemsPath": "$.comprehend.entities"
                                                                            }
                                                                        }
                                                                    },
                                                                    {
                                                                        "StartAt": "ProcessComprehendKeyPhrases",
                                                                        "States": {
                                                                            "ProcessComprehendKeyPhrases": {
                                                                                "Type": "Map",
                                                                                "ItemProcessor": {
                                                                                    "ProcessorConfig": {
                                                                                        "Mode": "INLINE"
                                                                                    },
                                                                                    "StartAt": "PutObjectComprehendKeyPhrase",
                                                                                    "States": {
                                                                                        "PutObjectComprehendKeyPhrase": {
                                                                                            "Type": "Task",
                                                                                            "End": true,
                                                                                            "Parameters": {
                                                                                                "Body.$": "$.keyPhrase",
                                                                                                "Bucket.$": "$.s3.bucket.name",
                                                                                                "Key.$": "States.Format('${aws_s3_object_key}comprehend/model=key_phrase/language_code={}/comprehend={}/{}.json', $.keyPhrase.languageCode, $.keyPhrase.comprehendId, $.keyPhrase.id)"
                                                                                            },
                                                                                            "Resource": "arn:aws:states:::aws-sdk:s3:putObject"
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "End": true,
                                                                                "ItemsPath": "$.comprehend.keyPhrases",
                                                                                "ItemSelector": {
                                                                                    "keyPhrase": {
                                                                                        "beginOffset.$": "$$.Map.Item.Value.beginOffset",
                                                                                        "comprehendId.$": "$.comprehend.id",
                                                                                        "createdAt.$": "$.createdAt",
                                                                                        "endOffset.$": "$$.Map.Item.Value.endOffset",
                                                                                        "id.$": "States.Hash($$.Map.Item.Value, 'MD5')",
                                                                                        "index.$": "$$.Map.Item.Value.index",
                                                                                        "languageCode.$": "$.comprehend.languageCode",
                                                                                        "languageCodeScore.$": "$.comprehend.languageCodeScore",
                                                                                        "score.$": "$$.Map.Item.Value.score",
                                                                                        "text.$": "$$.Map.Item.Value.text"
                                                                                    },
                                                                                    "s3.$": "$.s3"
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    {
                                                                        "StartAt": "ProcessComprehendPiiEntities",
                                                                        "States": {
                                                                            "ProcessComprehendPiiEntities": {
                                                                                "Type": "Map",
                                                                                "ItemProcessor": {
                                                                                    "ProcessorConfig": {
                                                                                        "Mode": "INLINE"
                                                                                    },
                                                                                    "StartAt": "PutObjectComprehendPiiEntity",
                                                                                    "States": {
                                                                                        "PutObjectComprehendPiiEntity": {
                                                                                            "Type": "Task",
                                                                                            "Parameters": {
                                                                                                "Body.$": "$.piiEntity",
                                                                                                "Bucket.$": "$.s3.bucket.name",
                                                                                                "Key.$": "States.Format('${aws_s3_object_key}comprehend/model=pii_entity/language_code={}/type={}/comprehend={}/{}.json', $.piiEntity.languageCode, $.piiEntity.type, $.piiEntity.comprehendId, $.piiEntity.id)"
                                                                                            },
                                                                                            "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
                                                                                            "End": true
                                                                                        }
                                                                                    }
                                                                                },
                                                                                "End": true,
                                                                                "ItemSelector": {
                                                                                    "piiEntity": {
                                                                                        "beginOffset.$": "$$.Map.Item.Value.beginOffset",
                                                                                        "comprehendId.$": "$.comprehend.id",
                                                                                        "createdAt.$": "$.createdAt",
                                                                                        "endOffset.$": "$$.Map.Item.Value.endOffset",
                                                                                        "id.$": "States.Hash($$.Map.Item.Value, 'MD5')",
                                                                                        "index.$": "$$.Map.Item.Value.index",
                                                                                        "languageCode.$": "$.comprehend.languageCode",
                                                                                        "languageCodeScore.$": "$.comprehend.languageCodeScore",
                                                                                        "score.$": "$$.Map.Item.Value.score",
                                                                                        "type.$": "$$.Map.Item.Value.type"
                                                                                    },
                                                                                    "s3.$": "$.s3"
                                                                                },
                                                                                "ItemsPath": "$.comprehend.piiEntities"
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "End": true,
                                                    "ItemsPath": "$.s3.object.body.comprehend",
                                                    "ItemSelector": {
                                                        "createdAt.$": "$.s3.object.body.createdAt",
                                                        "comprehend": {
                                                            "entities.$": "$$.Map.Item.Value.entities",
                                                            "id.$": "$.s3.object.body.s3.object.eTag",
                                                            "keyPhrases.$": "$$.Map.Item.Value.keyPhrases",
                                                            "languageCode.$": "$$.Map.Item.Value.languageCode",
                                                            "languageCodeScore.$": "$$.Map.Item.Value.languageCodeScore",
                                                            "piiEntities.$": "$$.Map.Item.Value.piiEntities",
                                                            "sentiment.$": "$$.Map.Item.Value.sentiment",
                                                            "syntaxTokens.$": "$$.Map.Item.Value.syntaxTokens",
                                                            "targetedSentiment.$": "$$.Map.Item.Value.targetedSentiment",
                                                            "toxicContent.$": "$$.Map.Item.Value.toxicContent"
                                                        },
                                                        "s3.$": "$.s3"
                                                    }
                                                }
                                            }
                                        },
                                        "End": true,
                                        "ItemsPath": "$.body.Records"
                                    }
                                }
                            }
                        ]
                    }
                }
            },
            "End": true
        }
    }
}
