state_machine/S3ObjectCreatedComprehend.json
{
    "StartAt": "ProcessSQSEvent",
    "States": {
        "ProcessSQSEvent": {
            "Type": "Map",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "ParseSQSEventBody",
                "States": {
                    "ParseSQSEventBody": {
                        "Type": "Pass",
                        "Parameters": {
                            "body.$": "States.StringToJson($.body)"
                        },
                        "Next": "CheckSQSBodyRecords"
                    },
                    "CheckSQSBodyRecords": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.body.Records",
                                "IsPresent": true,
                                "Next": "ProcessSQSBodyRecordsAndPass"
                            }
                        ],
                        "Default": "InvalidSQSBody"
                    },
                    "InvalidSQSBody": {
                        "Type": "Pass",
                        "End": true
                    },
                    "ProcessSQSBodyRecordsAndPass": {
                        "Type": "Parallel",
                        "End": true,
                        "Branches": [
                            {
                                "StartAt": "ProcessSQSBodyRecords",
                                "States": {
                                    "ProcessSQSBodyRecords": {
                                        "Type": "Map",
                                        "ItemProcessor": {
                                            "ProcessorConfig": {
                                                "Mode": "INLINE"
                                            },
                                            "StartAt": "CheckSQSRecordEvent",
                                            "States": {
                                                "CheckSQSRecordEvent": {
                                                    "Type": "Choice",
                                                    "Choices": [
                                                        {
                                                            "Variable": "$.eventName",
                                                            "StringEquals": "ObjectCreated:Put",
                                                            "Next": "ParallelS3GetObjectAndPass"
                                                        }
                                                    ],
                                                    "Default": "InvalidSQSRecordEvent"
                                                },
                                                "InvalidSQSRecordEvent": {
                                                    "Type": "Pass",
                                                    "End": true
                                                },
                                                "ParallelS3GetObjectAndPass": {
                                                    "Type": "Parallel",
                                                    "Branches": [
                                                        {
                                                            "StartAt": "PassThroughInput",
                                                            "States": {
                                                                "PassThroughInput": {
                                                                    "Type": "Pass",
                                                                    "End": true
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "StartAt": "S3GetObject",
                                                            "States": {
                                                                "S3GetObject": {
                                                                    "Type": "Task",
                                                                    "End": true,
                                                                    "Parameters": {
                                                                        "Bucket.$": "$.s3.bucket.name",
                                                                        "Key.$": "$.s3.object.key"
                                                                    },
                                                                    "Resource": "arn:aws:states:::aws-sdk:s3:getObject"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "ResultSelector": {
                                                        "awsRegion.$": "$[0].awsRegion",
                                                        "eventName.$": "$[0].eventName",
                                                        "eventSource.$": "$[0].eventSource",
                                                        "eventTime.$": "$[0].eventTime",
                                                        "eventVersion.$": "$[0].eventVersion",
                                                        "requestParameters.$": "$[0].requestParameters",
                                                        "s3": {
                                                            "bucket.$": "$[0].s3.bucket",
                                                            "configurationId.$": "$[0].s3.configurationId",
                                                            "object": {
                                                                "body.$": "States.StringToJson($[1].Body)",
                                                                "acceptRanges.$": "$[1].AcceptRanges",
                                                                "contentLength.$": "$[1].ContentLength",
                                                                "contentType.$": "$[1].ContentType",
                                                                "eTag.$": "$[0].s3.object.eTag",
                                                                "key.$": "$[0].s3.object.key",
                                                                "lastModified.$": "$[1].LastModified",
                                                                "metadata.$": "$[1].Metadata",
                                                                "serverSideEncryption.$": "$[1].ServerSideEncryption"
                                                            },
                                                            "s3SchemaVersion.$": "$[0].s3.s3SchemaVersion"
                                                        },
                                                        "userIdentity.$": "$[0].userIdentity"
                                                    },
                                                    "Next": "ProcessComprehendRecords"
                                                },
                                                "ProcessComprehendRecords": {
                                                    "Type": "Map",
                                                    "ItemProcessor": {
                                                        "ProcessorConfig": {
                                                            "Mode": "INLINE"
                                                        },
                                                        "StartAt": "ParallelProcessComprehendRecord",
                                                        "States": {
                                                            "ParallelProcessComprehendRecord": {
                                                                "Type": "Parallel",
                                                                "End": true,
                                                                "Branches": [
                                                                    {
                                                                        "StartAt": "Pass",
                                                                        "States": {
                                                                            "Pass": {
                                                                                "Type": "Pass",
                                                                                "End": true
                                                                            }
                                                                        }
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "End": true,
                                                    "ItemsPath": "$.s3.object.body.comprehend"
                                                }
                                            }
                                        },
                                        "End": true,
                                        "ItemsPath": "$.body.Records"
                                    }
                                }
                            }
                        ]
                    }
                }
            },
            "End": true
        }
    }
}
