state_machine/S3ObjectCreatedText.json
{
    "StartAt": "Map",
    "States": {
        "Map": {
            "Type": "Map",
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "Pass",
                "States": {
                    "Pass": {
                        "Type": "Pass",
                        "Parameters": {
                            "body.$": "States.StringToJson($.body)"
                        },
                        "Next": "Parallel"
                    },
                    "Parallel": {
                        "Type": "Parallel",
                        "End": true,
                        "Branches": [
                            {
                                "StartAt": "Map (1)",
                                "States": {
                                    "Map (1)": {
                                        "Type": "Map",
                                        "ItemProcessor": {
                                            "ProcessorConfig": {
                                                "Mode": "INLINE"
                                            },
                                            "StartAt": "Parallel (1)",
                                            "States": {
                                                "Parallel (1)": {
                                                    "Type": "Parallel",
                                                    "Branches": [
                                                        {
                                                            "StartAt": "Pass (1)",
                                                            "States": {
                                                                "Pass (1)": {
                                                                    "Type": "Pass",
                                                                    "End": true
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "StartAt": "GetObject",
                                                            "States": {
                                                                "GetObject": {
                                                                    "Type": "Task",
                                                                    "End": true,
                                                                    "Parameters": {
                                                                        "Bucket.$": "$.s3.bucket.name",
                                                                        "Key.$": "$.s3.object.key"
                                                                    },
                                                                    "Resource": "arn:aws:states:::aws-sdk:s3:getObject"
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "ResultSelector": {
                                                        "awsRegion.$": "$[0].awsRegion",
                                                        "eventName.$": "$[0].eventName",
                                                        "eventSource.$": "$[0].eventSource",
                                                        "eventTime.$": "$[0].eventTime",
                                                        "eventVersion.$": "$[0].eventVersion",
                                                        "requestParameters.$": "$[0].requestParameters",
                                                        "s3": {
                                                            "bucket.$": "$[0].s3.bucket",
                                                            "configurationId.$": "$[0].s3.configurationId",
                                                            "object": {
                                                                "body.$": "$[1].Body",
                                                                "acceptRanges.$": "$[1].AcceptRanges",
                                                                "contentLength.$": "$[1].ContentLength",
                                                                "contentType.$": "$[1].ContentType",
                                                                "eTag.$": "$[0].s3.object.eTag",
                                                                "key.$": "$[0].s3.object.key",
                                                                "lastModified.$": "$[1].LastModified",
                                                                "metadata.$": "$[1].Metadata",
                                                                "serverSideEncryption.$": "$[1].ServerSideEncryption"
                                                            },
                                                            "s3SchemaVersion.$": "$[0].s3.s3SchemaVersion"
                                                        },
                                                        "userIdentity.$": "$[0].userIdentity"
                                                    },
                                                    "Next": "Choice"
                                                },
                                                "Choice": {
                                                    "Type": "Choice",
                                                    "Choices": [
                                                        {
                                                            "Variable": "$.s3.object.contentLength",
                                                            "NumericLessThan": 100000,
                                                            "Next": "Parallel (3)"
                                                        }
                                                    ],
                                                    "Default": "Pass (2)"
                                                },
                                                "Parallel (3)": {
                                                    "Type": "Parallel",
                                                    "Branches": [
                                                        {
                                                            "StartAt": "Pass (3)",
                                                            "States": {
                                                                "Pass (3)": {
                                                                    "Type": "Pass",
                                                                    "End": true
                                                                }
                                                            }
                                                        },
                                                        {
                                                            "StartAt": "DetectDominantLanguage",
                                                            "States": {
                                                                "DetectDominantLanguage": {
                                                                    "Type": "Task",
                                                                    "Parameters": {
                                                                        "Text.$": "$.s3.object.body"
                                                                    },
                                                                    "Resource": "arn:aws:states:::aws-sdk:comprehend:detectDominantLanguage",
                                                                    "Next": "Map (2)",
                                                                    "ResultPath": "$.comprehend"
                                                                },
                                                                "Map (2)": {
                                                                    "Type": "Map",
                                                                    "ItemProcessor": {
                                                                        "ProcessorConfig": {
                                                                            "Mode": "INLINE"
                                                                        },
                                                                        "StartAt": "Parallel (2)",
                                                                        "States": {
                                                                            "Parallel (2)": {
                                                                                "Type": "Parallel",
                                                                                "End": true,
                                                                                "Branches": [
                                                                                    {
                                                                                        "StartAt": "DetectEntities",
                                                                                        "States": {
                                                                                            "DetectEntities": {
                                                                                                "Type": "Task",
                                                                                                "End": true,
                                                                                                "Parameters": {
                                                                                                    "LanguageCode.$": "$.LanguageCode",
                                                                                                    "Text.$": "$.Text"
                                                                                                },
                                                                                                "Resource": "arn:aws:states:::aws-sdk:comprehend:detectEntities"
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "StartAt": "DetectKeyPhrases",
                                                                                        "States": {
                                                                                            "DetectKeyPhrases": {
                                                                                                "Type": "Task",
                                                                                                "End": true,
                                                                                                "Parameters": {
                                                                                                    "LanguageCode.$": "$.LanguageCode",
                                                                                                    "Text.$": "$.Text"
                                                                                                },
                                                                                                "Resource": "arn:aws:states:::aws-sdk:comprehend:detectKeyPhrases"
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "StartAt": "DetectPiiEntities",
                                                                                        "States": {
                                                                                            "DetectPiiEntities": {
                                                                                                "Type": "Task",
                                                                                                "End": true,
                                                                                                "Parameters": {
                                                                                                    "LanguageCode.$": "$.LanguageCode",
                                                                                                    "Text.$": "$.Text"
                                                                                                },
                                                                                                "Resource": "arn:aws:states:::aws-sdk:comprehend:detectPiiEntities"
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "StartAt": "DetectSentiment",
                                                                                        "States": {
                                                                                            "DetectSentiment": {
                                                                                                "Type": "Task",
                                                                                                "Parameters": {
                                                                                                    "LanguageCode.$": "$.LanguageCode",
                                                                                                    "Text.$": "$.Text"
                                                                                                },
                                                                                                "Resource": "arn:aws:states:::aws-sdk:comprehend:detectSentiment",
                                                                                                "End": true
                                                                                            }
                                                                                        }
                                                                                    },
                                                                                    {
                                                                                        "StartAt": "DetectSyntax",
                                                                                        "States": {
                                                                                            "DetectSyntax": {
                                                                                                "Type": "Task",
                                                                                                "End": true,
                                                                                                "Parameters": {
                                                                                                    "LanguageCode.$": "$.LanguageCode",
                                                                                                    "Text.$": "$.Text"
                                                                                                },
                                                                                                "Resource": "arn:aws:states:::aws-sdk:comprehend:detectSyntax"
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                ]
                                                                            }
                                                                        }
                                                                    },
                                                                    "End": true,
                                                                    "ItemsPath": "$.comprehend.Languages",
                                                                    "ItemSelector": {
                                                                        "Index.$": "$$.Map.Item.Index",
                                                                        "LanguageCode.$": "$$.Map.Item.Value.LanguageCode",
                                                                        "Score.$": "$$.Map.Item.Value.Score",
                                                                        "Text.$": "$.s3.object.body"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    ],
                                                    "End": true
                                                },
                                                "Pass (2)": {
                                                    "Type": "Pass",
                                                    "End": true
                                                }
                                            }
                                        },
                                        "End": true,
                                        "ItemsPath": "$.body.Records"
                                    }
                                }
                            }
                        ]
                    }
                }
            },
            "End": true
        }
    }
}
